.App{
  background-color: white;
}
.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  border-radius: 20px;
}

.post{
  background-color: rgb(195 196 211);
  height: 600px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px;
  list-style: none;
  margin-bottom: 10px;
}
